{
    "name": "SmugPi",
    "port": 3001,
    "sql": {
        "dialect": "mariadb",
        "db": "db_name",
        "hostname": "127.0.0.1",
        "port": "3306",
        "username": "db_user",
        "password": "db_password"
    }
}